body{
	margin: 0;
	padding: 0;
	background-color:yellow;
	font-size: 14px;
	font-family: serif, arial;
}
#header{
	background-color: skyblue;
	margin: 0;
	padding: 10px;
}
#header img{
	float: left;
	width: 100px;
	height: auto;

}
#header h1{
	color: green;

}
#header p{
	font-style: serif;

}
#bodi{
	clear: both;

}
#bodi #sidebar{
	float: left;
	width: 30%;

	background-color: yellow;

}
#bodi #sidebar ul{
	list-style-type: none;
	font-size: 18px;

}
#bodi #sidebar ul li{
	margin-bottom: 10px;
	
}
#bodi #sidebar ul li a{
	text-decoration: none;
	border-bottom: 1px solid #fdfdfd;
	
}

	
#bodi #konten{
	float: left;
	width: 70%;
	background-color: white;

}
#bodi #konten .isi h3{
	padding: 10px;
	font-size: 20pt;

}
#bodi #konten .isi p{
	font-style: arial;
	font-size: 15pt;
	color: green;

	


}
#footer{
	clear: both;
	background-color: #999;
	text-decoration: center;

}
#footer p{
	padding: 10px;
	color: #fff;

}